<nav class="row">
  <div class="container">
    <ul class="header">
      <% if (isLoggedIn) { %>
        <li>
          <a href="/">
            <h1><%= user %></h1>
          </a>
        </li>
        <li>
          <a href="/articles/new">New Article</a>
        </li>
        <li>
        <form class="logout" action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        </li>
      <% } else { %>
        <li>
          <a href="/">
            <h1>Garibaldi</h1>
          </a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/register">Register</a>
        </li>
      <% } %>
    </ul>
    <ul class="articles-list">
      <section>
        <% if (userArticles && userArticles.length > 0) { %>
          <h5>My Articles</h5>
          <% userArticles.forEach(function(article) { %>
            <li>
              <!-- Title -->
              <p>
                <a href="/articles/<%= article.id %>">
                  <%= article.title || "untitled" %>
                </a>
              </p>
              <!-- Timestamp -->
              <% if (article.updated_at) { %>
                <span>
                  <%= article.updated_at.getFullYear() %> -
                  <%= article.updated_at.getMonth() %> -
                  <%= article.updated_at.getDate() %>
                </span>
              <% } else { %>
                <span>
                  <%= article.created_at.getFullYear() %> -
                  <%= article.created_at.getMonth() %> -
                  <%= article.created_at.getDate() %>
                </span>
              <% } %>
            <!-- Public -->
            <% if (!article.is_private) { %>
              <span class="public">
                Public
              </span>
            <% } %>
            </li>
          <% }); %>
        <% } %>
      </section>
      <section>
        <% if (publicArticles  && publicArticles.length > 0) { %>
          <h5>Public Articles</h5>
          <% publicArticles.forEach(function(article) { %>
            <li>
              <!-- Title -->
              <p>
                <a href="/articles/<%= article.id %>">
                  <%= article.title || "untitled" %>
                </a>
              </p>
              <!-- Timestamp -->
              <% if (article.updated_at) { %>
                <p>
                  <%= article.updated_at.getFullYear() %> -
                  <%= article.updated_at.getMonth() %> -
                  <%= article.updated_at.getDate() %>
                </p>
              <% } else { %>
                <p>
                  <%= article.created_at.getFullYear() %> -
                  <%= article.created_at.getMonth() %> -
                  <%= article.created_at.getDate() %>
                </p>
              <% } %>
            </li>
          <% }); %>
        <% } %>
      </section>
    </ul>
  </div>
</nav>
