<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel="stylesheet" href="/styles/css/index.css" type="text/css" />
  </head>
  <body>
    <% include partials/header %>
    <main>
      <!-- Render articles -->
      <section>
        <% if (userArticles && userArticles.length > 0) { %>
          <h2>My Articles</h2>
          <% userArticles.forEach(function(article) { %>
            <article>
              <h3><a href="/articles/<%= article.id %>"><%= article.title || "untitled" %></a></h3>
              <% if (article.components) { %>
                <% if (article.headers) { %>
                  <h5><%= article.headers[0] %></h5>
                <% } %>
                <% if (article.paragraphs) { %>
                  <p><%= article.paragraphs[0] %></p>
                <% } %>
              <% } %>
            </article>
            <% }) %>
        <% } %>
      </section>
      <section>
        <% if (publicArticles && publicArticles.length > 0) { %>
          <h2>Public Articles</h2>
          <% publicArticles.forEach(function(article) { %>
            <article>
              <h3><a href="/articles/<%= article.id %>"><%= article.title || "untitled" %></a></h3>
              <% if (article.components) { %>
                <% if (article.headers) { %>
                  <h5><%= article.headers[0] %></h5>
                <% } %>
                <% if (article.paragraphs) { %>
                  <p><%= article.paragraphs[0] %></p>
                <% } %>
              <% } %>
            </article>
            <% }) %>
        <% } %>
      </section>
    </main>
  </body>
</html>
