<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <a href="/">Index</a>
    <a href="/new">New Article</a>
    <form action="/articles/<%= article.id %>/edit">
      <!-- <button type="submit" name="button">Edit Article</button> -->
    </form>
    <form method="POST" action="/articles/<%= article.id %>?_method=DELETE">
      <button type="submit">Delete Article</button>
    </form>
    <article>
      <% var heads = 0 %>
      <% var paras = 0 %>
      <% var imgs = 0 %>
      <h1><%= article.title %></h1>
      <% if (typeof(article.components) === "string") { %>
        <h2><%= article.headers %></h2>
        <p><%= article.paragraphs %></p>
        <img src="/images/<%= article.images %>.jpeg" alt="image">
      <% } else { %>
        <% article.components.forEach(function(el) { %>
          <% switch(el) {
            case "h": %>
              <% if (typeof(article.headers) !== 'string') { %>
                <h2><%= article.headers[heads] %></h2>
                <% heads++ %>
              <% } else { %>
                <h2><%= article.headers %></h2>
              <% } %>
              <% break; %>
            <% case "p": %>
              <% if (typeof(article.paragraphs) !== 'string') { %>
                <p><%= article.paragraphs[paras] %></p>
                <% paras++ %>
              <% } else { %>
                <p><%= article.paragraphs %></p>
              <% } %>
              <% break; %>
            <% case "i": %>
              <% if (typeof(article.images) !== 'string') { %>
                <img src="/images/<%= article.images[imgs] %>.jpeg" alt="image <%= imgs %>">
                <% imgs++ %>
              <% } else { %>
                <img src="/images<%= article.images %>.jpeg" alt="image">
              <% } %>
              <% break; %>
          <% } %>
        <% }) %>
      <% } %>

    </article>
    <% include partials/footer %>
  </body>
</html>
